@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.top-bar{
    width: 375px;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar h1{
    color:#E8833A;
    font-family: 'Roboto';
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
}

.select-film{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 50px;
}

.container-film{
    width: 375px;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.film{
    width: 150px;
    height: 200px;
    background-color: blue;
    margin: 10px;
}